<div class="container mt-5" *ngIf="room">
  <!-- Immagine della stanza -->
  <div class="room-header mb-3">
    <img *ngIf="room.imageUrl" [src]="room.imageUrl" alt="Immagine della stanza" class="img-fluid room-thumbnail">
  </div>

  <!-- Card per i dettagli della stanza -->
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">Stanza n. {{room.numeroStanza}}</h2>
      <p class="card-text"><strong>Tipo:</strong> {{room.tipo}}</p>
      <p class="card-text"><strong>Prezzo per notte:</strong> {{room.prezzo | currency:'EUR':'symbol'}}</p>
    </div>
  </div>

  <!-- Card per i dettagli dell'hotel -->
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">Dettagli dell'Hotel</h4>
      <p class="card-text"><strong>Nome:</strong> {{room.hotel.nome}}</p>
      <p class="card-text"><strong>Città:</strong> {{room.hotel.citta}}</p>
      <p class="card-text"><strong>Indirizzo:</strong> {{room.hotel.indirizzo}}</p>
      <p class="card-text"><strong>Cap:</strong> {{room.hotel.cap}}</p>
      <p class="card-text"><strong>Descrizione:</strong> {{room.hotel.descrizione}}</p>
      <p class="card-text"><strong>Stelle:</strong> <span class="stars">{{ '⭐'.repeat(room.hotel.stelle) }}</span></p>
    </div>
  </div>

  <!-- Actions section -->
  <div class="actions mb-5">
    <a [routerLink]="['/user-reservation', room.hotel.id, room.id]" class=" my-2 btn btn-success me-3">Prenota ora</a>
    <a routerLink="/hotels" class="my-2 btn btn-primary">Torna alla lista degli hotel</a>
  </div>
</div>
