.room-thumbnail {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.room-header {
  text-align: center;
}

.hotel-details {
  text-align: left;
  margin-top: 20px;
}

.stars {
  color: #FFD700;
  font-size: 18px;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .room-header, .hotel-details, .actions {
      text-align: left;
  }
}
