<div class="admin-dashboard">
  <h1>Pannello di amministrazione</h1>
  <nav>
    <ul class="admin-nav">
      <li><a [routerLink]="['./overview']" routerLinkActive="active">Panoramica</a></li>
      <li><a [routerLink]="['./hotels']" routerLinkActive="active">Gestione Hotel</a></li>
      <li><a [routerLink]="['./rooms']" routerLinkActive="active">Gestione Stanze</a></li>
      <li><a [routerLink]="['./users']" routerLinkActive="active">Gestione Utenti</a></li>
    </ul>
  </nav>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
