<div class="container mt-5">
  <div class="search-bar mb-4">
    <input class="search-input" [(ngModel)]="searchTerm" placeholder="Cerca hotel per nome o città...">
    <button class="btn-search" (click)="cercaHotel()">Cerca</button>
</div>

  <h2>Lista degli Hotel</h2>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let hotel of hotels">
      <a [routerLink]="['/hotel', hotel.id]" class="custom-card-link">
        <div class="card mb-4">
          <img class="card-img-top" [src]="hotel.imageUrl" alt="Image for {{ hotel.nome }}">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.nome }}</h5>
            <p class="paragrafo card-text">{{ hotel.descrizione }}</p>
            <div>
              <i class="fa-solid fa-building me-2"></i>
              <span class="card-text"><small class="text-muted">{{ hotel.citta }}</small></span>
          </div>
            <div>
              <i class="fa-solid fa-location-dot me-2"></i>
              <span class="card-text"><small class="text-muted">{{ hotel.indirizzo }}</small></span>
            </div>

            <p class="stars mt-2"> {{ '⭐'.repeat(hotel.stelle) }}</p>
            <div id="vedi-dettagli" class="btn btn-success">Vedi Dettagli</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
