<div class="container mt-5">
  <h2>Lista degli Hotel</h2>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let hotel of hotels">
      <a [routerLink]="['/hotel', hotel.id]" class="custom-card-link">
        <div class="card mb-4">
          <img class="card-img-top" [src]="hotel.imageUrl" alt="Image for {{ hotel.nome }}">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.nome }}</h5>
            <p class="card-text">{{ hotel.descrizione }}</p>
            <p class="card-text"><small class="text-muted">{{ hotel.indirizzo }}</small></p>
            <p class="stars"> {{ '⭐'.repeat(hotel.stelle) }}</p>
            <div class="btn btn-primary">Vedi Dettagli</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
