<div class="container mt-5">
  <h2>Registrazione</h2>

  <form (submit)="register(form)" #form="ngForm">
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingNome" placeholder="Nome" [(ngModel)]="nome" name="name" required>
          <label for="floatingNome">Nome</label>
      </div>
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCognome" placeholder="Cognome" [(ngModel)]="cognome" name="surname" required>
          <label for="floatingCognome">Cognome</label>
      </div>
      <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="nome@esempio.com" [(ngModel)]="email" name="email" required>
          <label for="floatingEmail">Indirizzo e-mail</label>
      </div>
      <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password" required>
          <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mb-3">
          <input type="date" class="form-control" id="floatingDataDiNascita" placeholder="Data di Nascita" [(ngModel)]="dataDiNascita" name="dataDiNascita" required>
          <label for="floatingDataDiNascita">Data di Nascita</label>
      </div>
      <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="floatingTelefono" placeholder="Telefono" [(ngModel)]="telefono" name="telefono" required>
          <label for="floatingTelefono">Telefono</label>
      </div>
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCitta" placeholder="Città" [(ngModel)]="citta" name="citta" required>
          <label for="floatingCitta">Città</label>
      </div>
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingIndirizzo" placeholder="Indirizzo" [(ngModel)]="indirizzo" name="indirizzo" required>
          <label for="floatingIndirizzo">Indirizzo</label>
      </div>
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingCap" placeholder="Cap" [(ngModel)]="cap" name="cap" required>
          <label for="floatingCap">CAP</label>
      </div>

      <button type="submit" class="btn btn-primary my-1" [disabled]="!form.valid">Registrati</button>
  </form>

  <p id="haveAccount" class=" my-2 mb-3 px-1">Hai già un account? <a routerLink="/login">Accedi</a></p>
</div>
