#haveAccount{
  text-align: center;
  background-color: WHITE;
}

.form-control{
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  outline-color:green !important;

}
