<div class="container mt-5">
  <h2>Prenotazione</h2>

  <div *ngIf="selectedHotel && selectedRoom">
    <h4>Hotel selezionato: {{ selectedHotel.nome }}</h4>
    <h5>Stanza selezionata: {{ selectedRoom.numeroStanza }}</h5>
  </div>

  <div class="form-group">
    <label for="dataCheckIn">Data di Check-In:</label>
    <input type="date" class="form-control" [(ngModel)]="dataCheckIn" name="dataCheckIn" id="dataCheckIn">
  </div>

  <div class="form-group">
    <label for="dataCheckOut">Data di Check-Out:</label>
    <input type="date" class="form-control" [(ngModel)]="dataCheckOut" name="dataCheckOut" id="dataCheckOut">
  </div>

  <button class="btn btn-success mt-3" (click)="prenota()">Conferma Prenotazione</button>
</div>
