<div class="container mt-5">
  <h2>Prenotazione</h2>

  <form (ngSubmit)="prenota()">
      <!-- Seleziona hotel -->
      <div class="mb-3">
          <label for="hotelSelect" class="form-label">Seleziona Hotel</label>
          <select id="hotelSelect" class="form-select" [(ngModel)]="selectedHotel" name="selectedHotel" (change)="onHotelSelect(selectedHotel)">
              <option *ngFor="let hotel of hotels" [ngValue]="hotel">{{ hotel.nome }}</option>
          </select>
      </div>

      <!-- Seleziona stanza -->
      <div class="mb-3">
          <label for="roomSelect" class="form-label">Seleziona Stanza</label>
          <select id="roomSelect" class="form-select" [(ngModel)]="selectedRoom" name="selectedRoom">
              <option *ngFor="let room of rooms" [ngValue]="room">{{ room.numeroStanza }} - {{ room.tipo }}</option>
          </select>
      </div>


  </form>
</div>
