<div class="container mt-5">
  <h2>Dettagli dell'Hotel</h2>

  <!-- Card dell'hotel -->
  <div class="card mb-5 shadow">
    <!-- Immagine dell'hotel -->
    <img [src]="hotel?.imageUrl" alt="{{ hotel?.nome }}" class="card-img-top img-responsive">
    <div class="card-body">
      <h3 class="card-title">{{ hotel?.nome }}</h3>
      <p class="card-text"> {{ hotel?.descrizione }}</p>
      <p class="card-text"><i class="fa-solid fa-building me-2"></i>{{ hotel?.citta }}</p>
      <p class="card-text"><i class="fa-solid fa-location-dot me-2"></i>{{ hotel?.indirizzo }}</p>
      <p class="card-text">{{ '⭐'.repeat(hotel?.stelle ?? 0) }}
      </p>
    </div>
  </div>

  <h4 class="mt-4">Stanze disponibili</h4>
<!-- Lista delle stanze -->
<div class="row mt-3">
  <div class="col-md-4 mb-4" *ngFor="let room of rooms">
      <div class="card h-100 shadow">
          <div class="card-body">
              <h5 class="card-title">Stanza {{ room.numeroStanza }}</h5>
              <a [routerLink]="['/stanza/hotel', hotelId, room.id]">
                  <img *ngIf="room.imageUrl" [src]="room.imageUrl" alt="Immagine della stanza" class="room-thumbnail">
              </a>

              <a [routerLink]="['/stanza/hotel', hotelId, room.id]" id="view-details" class="btn btn-success mt-2">Vedi Dettagli</a>
          </div>
      </div>
  </div>
</div>


  <a routerLink="/hotels" class="btn btn-primary mb-4">Torna alla lista degli hotel</a>
</div>
