.container {
  font-family: 'Arial', sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 550px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;

  & > strong {
    color: #007BFF;
  }
}

.btn-primary, .btn-secondary {
  background-color: #007BFF;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.btn-secondary {
  background-color: #6c757d;
  &:hover {
    background-color: #5a6268;
  }
}

.room-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  float: none;
}

.mt-5 {
  margin-top: 40px !important;
}

.mt-4 {
  margin-top: 30px !important;
}
