.edit-btn, .delete-btn {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0 5px;
  transition: 0.3s ease;
  cursor: pointer;
  line-height: 1;
  vertical-align: middle;
}

.edit-btn {
  color: #0044ff;

  &:hover {
      color: #0033cc;
      transform: scale(1.4);
  }
}

.delete-btn {
  color: #f00;

  &:hover {
      color: #cc0000;
      transform: scale(1.4);
  }
}
