<div class="container mt-5">
  <h2 class="mb-4">Le tue prenotazioni</h2>

  <!-- Visualizzazione tabella per schermi grandi e medie dimensioni (desktop) -->
  <div class="table-responsive d-none d-lg-block">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Prenotazione N°</th>
          <th>Check-In</th>
          <th>Check-Out</th>
          <th>Stanza n°</th>
          <th>Tipo Stanza</th>
          <th>Hotel</th>
          <th>Prezzo</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.utente.name }}</td>
          <td>{{ reservation.utente.surname }}</td>
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.dataCheckIn | date:'dd-MM-yyyy' }}</td>
          <td>{{ reservation.dataCheckOut | date:'dd-MM-yyyy' }}</td>
          <td>{{ reservation.stanza.numeroStanza }}</td>
          <td>{{ reservation.stanza.tipo }}</td>
          <td>{{ reservation.stanza.hotel.nome }}</td>
          <td>{{ calculateTotalPrice(reservation) | currency:'EUR' }}</td>
          <td class="action-container">
            <button class="btn edit-btn" (click)="editReservation(reservation.id)">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn delete-btn" (click)="deleteReservation(reservation.id)">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

 <!-- Visualizzazione card per schermi piccoli e tablet -->
 <div class="d-lg-none">
  <div class="card mb-3" *ngFor="let reservation of reservations">
    <div class="card-body">
      <h5 class="card-title">{{ reservation.utente.name }} {{ reservation.utente.surname }}</h5>
      <p class="card-text">
        <strong>Prenotazione N°:</strong> {{ reservation.id }}<br>
        <strong>Data Check-In:</strong> {{ reservation.dataCheckIn | date:'dd-MM-yyyy' }}<br>
        <strong>Data Check-Out:</strong> {{ reservation.dataCheckOut | date:'dd-MM-yyyy' }}<br>
        <strong>Numero Stanza:</strong> {{ reservation.stanza.numeroStanza }}<br>
        <strong>Tipo Stanza:</strong> {{ reservation.stanza.tipo }}<br>
        <strong>Hotel:</strong> {{ reservation.stanza.hotel.nome }}<br>
        <strong>Prezzo:</strong> {{ calculateTotalPrice(reservation) | currency:'EUR' }}
      </p>
      <button class="btn btn-primary mb-2 mx-1" (click)="editReservation(reservation.id)">Modifica</button>
      <button class="btn btn-danger mb-2 mx-1" (click)="deleteReservation(reservation.id)">Cancella</button>
    </div>
  </div>
 </div>
  </div>
