<div class="container mt-5">
  <h2 class="mb-4">Le tue prenotazioni</h2>

  <!-- Visualizzazione tabella per schermi grandi -->
  <div class="table-responsive d-none d-md-block">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>ID Prenotazione</th>
          <th>Data Check-In</th>
          <th>Data Check-Out</th>
          <th>Numero Stanza</th>
          <th>Tipo Stanza</th>
          <th>Hotel Associato</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.utente.name }}</td>
          <td>{{ reservation.utente.surname }}</td>
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.dataCheckIn | date:'dd-MM-yyyy' }}</td>
          <td>{{ reservation.dataCheckOut | date:'dd-MM-yyyy' }}</td>
          <td>{{ reservation.stanza.numeroStanza }}</td>
          <td>{{ reservation.stanza.tipo }}</td>
          <td>{{ reservation.stanza.hotel.nome }}</td>
          <td>
            <button class="btn btn-primary me-2" (click)="editReservation(reservation.id)">Modifica</button>
            <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Cancella</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Visualizzazione card per schermi piccoli -->
  <div class="d-block d-md-none">
    <div class="card mb-3" *ngFor="let reservation of reservations">
      <div class="card-body">
        <h5 class="card-title">{{ reservation.utente.name }} {{ reservation.utente.surname }}</h5>
        <p class="card-text">
          <strong>ID Prenotazione:</strong> {{ reservation.id }}<br>
          <strong>Data Check-In:</strong> {{ reservation.dataCheckIn | date:'dd-MM-yyyy' }}<br>
          <strong>Data Check-Out:</strong> {{ reservation.dataCheckOut | date:'dd-MM-yyyy' }}<br>
          <strong>Numero Stanza:</strong> {{ reservation.stanza.numeroStanza }}<br>
          <strong>Tipo Stanza:</strong> {{ reservation.stanza.tipo }}<br>
          <strong>Hotel Associato:</strong> {{ reservation.stanza.hotel.nome }}
        </p>
        <button class="btn btn-primary mb-2 mx-1" (click)="editReservation(reservation.id)">Modifica</button>
        <button class="btn btn-danger mb-2 mx-1" (click)="deleteReservation(reservation.id)">Cancella</button>
      </div>
    </div>
  </div>
</div>
